@font-face {
  font-family: 'iconfont';  /* project id 2461346 */
  src: url('//at.alicdn.com/t/font_2461346_s0oknirgfr.eot');
  src: url('//at.alicdn.com/t/font_2461346_s0oknirgfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2461346_s0oknirgfr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2461346_s0oknirgfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_2461346_s0oknirgfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2461346_s0oknirgfr.svg#iconfont') format('svg');
}
[class^="el-icon-qtou"],
[class*=" el-icon-qtou"]/*这里有空格*/
 {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}